<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="text-secondary fw-bolder">Contacteme</h1>
            <p class="lead fw-normal text-muted mb-0">¡Trabajemos juntos!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="p-5">
                                        <h2 class="text-secondary fw-bolder">Bienvenido</h2>
                                        <p>
                                            Aqui puede contactarme para brindarte la mayor informacion posible 
                                            sobre mi trabajo tecnologico / tecnico profesionales consultoria 
                                            de desarrollo de paginas web y mucho mas. Te espero pronto para trabajar juntos.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="social-body">
                                        <ul>
                                            <li class="twitter"><a href="https://api.whatsapp.com/message/NZOCKIUEJYX4G1?autoload=1&app_absent=0" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                                            <li class="instagram"><a href="https://www.instagram.com/servicios_computo/?igshid=ZDdkNTZiNTM%3D" target="_blank"><i class="bi bi-instagram"></i></a></li>
                                            <li class="pinterest"><a href="#" target="_blank"><i class="bi bi-envelope"></i></a></li>
                                        </ul>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>