<!-- Page Content-->
<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">EXPERIENCIA LABORAL</span>
        </h1>
    </div>

    <div class="row ">
        <div class="col-lg-6" style="    
                                width: 49%;
                                height: 420px;
                                overflow: auto;
                            ">
            <section class="">
                <h2 class="text-secondary fw-bolder mb-4">Trabajo Independiente
                    <p class="text-end text-dark fw-bolder mb-4">3 Años</p>
                </h2>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img width="90%" height="70%"
                                src="views/assets/images/portfolio/servicio_profesionales/servicio01.png" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">Servicio Profesionales</h5>
                                <p class="lh-sm card-text">
                                    - Servicio Tecnico en computadores instalaciones tales como sistemas
                                    operativo, Office y programas basico del sistemas.<br>
                                    - Desarrollo aplicaciones WEB dinamicas y estatica, requerido para los emprendedores
                                    y clientes.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, MySQL, AJAX
                                        JQuery, Bootstrap templates
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">E-commerce de Electricos</h5>
                                <p class="lh-sm card-text">
                                    Diseñe esta aplicacion WEB para un emprendedor en bogota, analice el requerimiento
                                    para creacion del sistemas de punto ventas con wordpress
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, wordpress
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="views/assets/images/portfolio/pos_ventas/das01.png"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="views/assets/images/portfolio/pos_ventas/das02.png"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">Pos ventas, inventarios </h5>
                                <p class="lh-sm card-text">
                                    - Diseñe una aplicacion WEB para un emprededor de un local en ocaña, norte de
                                    santander
                                    el requerimiento son los siguiente ventas de los productos de cafe y un inventario
                                    se crea (UN ADMINISTRATIVO Y LOS USUARIOS, VENTAS, PRODUCTOS, CLIENTES, CATEGORIAS
                                    LOS INSUMOS SI ES NECESARIO SE AGREGA), se generar un ticket de entrega al cliente.
                                    <br>
                                    - INSLACION: se instala local en ordenador con sistemas Windows y la impresora POS.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, MySQL, AJAX
                                        JQuery, Bootstrap templates
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">

                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="views/assets/images/portfolio/parqueadero/login.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="views/assets/images/portfolio/parqueadero/placas.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="views/assets/images/portfolio/parqueadero/ver.placas.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="views/assets/images/portfolio/parqueadero/placa-mensualidad.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="views/assets/images/portfolio/parqueadero/tarifas.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">Pos Parqueadero</h5>
                                <p class="lh-sm card-text">
                                    <small class="fw-bolder">
                                        Se puede modificar al gusto del cliente.
                                    </small><br>
                                    - Diseñe esta aplicacion WEB para una emprededora su local en Cucuta, norte de
                                    santander
                                    lo requerimiento para el sistemas fueron crear una sesion que digite el numero
                                    de las placa que va entrando al local y genere un ticket de salida. <br>
                                    - INSTALACION: se intala en un ordenador windows o otro sistemas operativo
                                    configurar la impresora termica de ticket
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, MySQL, AJAX
                                        JQuery, Bootstrap templates
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img width="90%" height="70%" src="views/assets/images/portfolio/pos_ganadero/ganadero.png"
                                style="margin-top: 37px; margin-left: 25px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">Pos Ganadero, (Proyecto pasantía)</h5>
                                <p class="lh-sm card-text">
                                    <small class="fw-bolder">
                                        Se puede modificar al gusto del cliente.
                                    </small><br>
                                    - Se diseño esta aplicacion WEB grupal de 4 miembros con técnica de la metodología
                                    ágil SCRUM administrar los propietario y animales del ganado generar
                                    invenrtario de las vacunas y el proceso proceso digestivo en animales
                                    rumiantes como el ganado. <br>
                                    - INSTALACION: se instala local en un ordenador Windows.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, MySQL, AJAX
                                        JQuery, Bootstrap templates
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card overflow-hidden shadow rounded-4 border-0 mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="fw-bolder">Pos Votación (Pasantía)</h5>
                                <p class="lh-sm card-text">
                                    <small class="fw-bolder">
                                        Se puede modificar al gusto del cliente.
                                    </small><br>
                                    - Se diseño esta aplicacion WEB para administrar los personeros academioco de una
                                    universidad es generar la creacion del personero y quienes se postula llevar
                                    un registro de conteo para ver quien va ganado del persona que se postulo
                                    en la academia.
                                    - INSTALACION: se instala local o un diminio web en un ordenador Windows
                                </p>
                                <p class="card-text">
                                    <small class="text-muted fw-bolder">
                                        Lenguajes PHP MVC Nativo, MySQL, AJAX
                                        JQuery, Bootstrap templates
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <!-- Skills Section-->
            <section class="">
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5" style="overflow: scroll; height: 280px; width: 489px;">
                            <div class="d-flex align-items-center mb-4">
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Empresa</span>
                                </h3>
                            </div>
                            <div class="row row-cols-md-2">
                                <div class="col mb-5 mb-md-1">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-1100"
                                        style="width: 190%;">
                                        <p class="lh-sm">
                                            <span class="fw-bolder">Desarrollador Semior.  </span>
                                            <span class="fw-normal" style="font-size: 15px;">AS DEVELOPMENT SAS. </span>.

                                        </p>
                                        <p class="lh-sm">
                                            <span class="fw-bolder">3 MESES, 01/2024 - 03/2024 </span>
                                            <span class="fw-normal">, Bucaramanga, Santander</span>.
                                        </p>
                                    </div>

                                    <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100"
                                        style="width: 190%;">
                                        <p class="lh-sm">
                                            <span class="fw-bolder">Tecnico en Sistemas .</span>
                                            <span class="fw-normal">Excomin S.S</span>.
                                        </p>
                                        <p class="lh-sm">
                                            <span class="fw-bolder">6 MESES, 02/2016 - 07/2016 </span>
                                            <span class="fw-normal">PASANTIA</span>.
                                        </p>
                                    </div>

                                    <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100"
                                        style="width: 190%;">
                                        <p class="lh-sm">
                                            <span class="fw-bolder">Auxiliar Sistemas .</span>
                                            <span class="fw-normal">Dromedica del Oriente</span>.
                                        </p>
                                        <p class="lh-sm">
                                            <span class="fw-bolder">6 MESES, 07/2021- 01/2022 </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
