        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">FORMACIÓN ACADEMICA </span>
                </h1>
            </div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">

                        <!-- Languages list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Lenguages
                                        Programacion</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PHP Nativo</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">LARAVEL </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GITHUB GITLAB
                                    </div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Codeigniter
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS HTML,
                                        BOOTSTRAP </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        JavaScript/JQuery Ajax</div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PostgreSQL,
                                        MySQL
                                        Base datos</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Wordpress y
                                        prestashop</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div>
                                </div>
                            </div>
                        </div>

                        <!-- Professional skills list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Habilidades
                                        Profesionales</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DESARROLLADOR
                                        INDEPENDIENTE</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AUXILIAR
                                        SISTEMAS</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MANTENIMIENTO
                                        PREVENTIVO
                                        Y CORRECTIVO COMPUTO</div>
                                </div>
                                <div class="mt-3 col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        HERRAMIENTAS OFIMATICAS
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <div class="row">
                <div class="col-lg-8 ">
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Educación</h2>
                        <!-- Education Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2019 - 2020 </div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">6 MESES</div>
                                                <div class="small text-muted">Esp Tecnologica</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">Met. de calidad para el </div>
                                                <div class="small text-muted"> desarrollo de software</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>Administrar el proceso personal de construcción de software para mejorar la
                                            calidad y la productividad,
                                            de acuerdo con prácticas internacionales.
                                            Establecer métodos de trabajo en equipo para el desarrollo de software de
                                            calidad.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Education Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2017 - 2018</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">2 AÑOS</div>
                                                <div class="small text-muted">Tecnología</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">Análisis y desarrollo </div>
                                                <div class="small text-muted">de sistemas informático</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            Analizar los requisitos del cliente para construir el sistema de información
                                            aplicar buenas prácticas de calidad en el proceso de desarrollo de software,
                                            de acuerdo con el referente adoptado en la empresa., comprender textos en
                                            inglés en forma
                                            escrita y auditiva construir el sistema que cumpla con los requisitos de la
                                            solución
                                            informática, diseñar el sistema de acuerdo con los requisitos del cliente
                                            especificar los requisitos necesarios para desarrollar el sistema de
                                            información de acuerdo
                                            con las necesidades del cliente. Implantar la solución que cumpla con los
                                            requisitos para su
                                            operación, participar en el proceso de negociación de tecnología informática
                                            para permitir
                                            la implementación del sistema de información. producir textos en inglés en
                                            forma escrita y
                                            oral promover la interacción idónea consigo mismo, con los demás y con la
                                            naturaleza en los
                                            contextos laboral y social, resultados de aprendizaje etapa practica.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Education Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">2015 - 2016</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">1 AÑOS</div>
                                                <div class="small text-muted">Técnico</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">Tecnico </div>
                                                <div class="small text-muted">en sistemas informático</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>
                                            Aplicar herramientas ofimáticas, redes sociales y colaborativas de acuerdo con el proyecto a
                                            desarrollar comprender textos en inglés en forma escrita y auditiva implementar la estructura
                                            de la red de acuerdo con un diseño preestablecido a partir de normas técnicas internacionales.
                                            promover la interacción idónea consigo mismo, con los demás y con la naturaleza en los contextos
                                            laboral y social realizar mantenimiento preventivo y predictivo que prolongue el funcionamiento
                                            de los equipos de computo. resultados de aprendizaje etapa practica
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- Divider-->
                    <div class="pb-5"></div>

                </div>
                <div class="col-lg-4">
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- Professional skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Cursos</span>
                                        </h3>
                                    </div>
                                    <div class="row row-cols-md-2">
                                        <div class="col mb-5 mb-md-1">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-1100" style="width: 190%;">
                                                <p class="lh-sm">
                                                    <span class="fw-bolder">Prueba Unitarias PHP</span>
                                                    <span class="fw-normal">CodigoFacilito.com</span>.
                                                </p>
                                            </div>

                                            <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100" style="width: 190%;">
                                                <p class="lh-sm">
                                                    <span class="fw-bolder">PHP Avanzado.</span>
                                                    <span class="fw-normal">platzi.com</span>.
                                                </p>
                                            </div>

                                            <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100" style="width: 190%;">
                                                <p class="lh-sm">
                                                    <span class="fw-bolder">Crear un sistema de cotización y aprende PHP
                                                        javascript Ajax. </span>
                                                    <span class="fw-normal">udemy.com</span>.
                                                </p>
                                            </div>

                                            <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100" style="width: 190%;">
                                                <p class="lh-sm">
                                                    <span class="fw-bolder">JQuery Ajax desde cero la guía definitiva.
                                                    </span>
                                                    <span class="fw-normal">udemy.com</span>.
                                                </p>
                                            </div>


                                            <div class="mt-3 d-flex align-items-center bg-light rounded-4 p-3 h-1100" style="width: 190%;">
                                                <p class="lh-sm">
                                                    <span class="fw-bolder">Introducción a Laravel primeros pasos con
                                                        este framework. </span>
                                                    <span class="fw-normal">udemy.com</span>.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>